/Debugging-technique-RDTSC/RDTSC/Debug
/Debugging-technique-RDTSC/RDTSC/ipch
/Debugging-technique-RDTSC/RDTSC/Release
/Debugging-technique-RDTSC/RDTSC/*.sdf
/Debugging-technique-RDTSC/RDTSC/RDTSC/Debug
/Debugging-technique-RDTSC/RDTSC/RDTSC/Release
/Debugging-technique-RDTSC/RDTSC/*.opensdf
/Debugging-technique-RDTSC/RDTSC/*.suo
/Memory-Bandwidth-stream/stream/Debug
/Memory-Bandwidth-stream/stream/stream.sdf
/Memory-Bandwidth-stream/stream/ipch
/Memory-Bandwidth-stream/stream/Release
/Memory-Bandwidth-stream/stream/stream/Debug
/Memory-Bandwidth-stream/stream/stream/Release
/Memory-Bandwidth-stream/stream/*.suo
/Memory-Bandwidth-stream/stream/*.opensdf
